<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>信息披露事项管理</title>
  <link rel="stylesheet" href="./scui/1.0.1/index.css">
  <link rel="stylesheet" href="./scui/2.0.1/index.css">
  <link rel="stylesheet" href="./scui/2.0.1/skin1.css">
  <link rel="stylesheet" type="text/css" href="css/calender.css">
  <link rel="stylesheet" type="text/css" href="iconfont/17.7.5/iconfont.css">
  <link rel="stylesheet" type="text/css" href="styles/btn.styles.css">
  <script src="jQuery/1.11.3/jquery.min.js"></script>
  <script src="./vue/2.3.0/index.js"></script>
  <script src="./scui/2.0.1/index.js"></script>
  <script src="./vue-resource/1.3.3/vue-resource.min.js"></script>
  <script src="./scui/1.0.1/scui.min.js"></script>

  <script src="./component/first.js"></script>
  <script src="./component/second.js"></script>
  <script src="./component/third.js"></script>
  <script src="./component/org.js"></script>

  <script src="./util/publicComponents.js"></script>
  <script src="./util/gobal.js"></script>
  <style>
    html,body {
      height: 100%;
    }
    .sc-skin1 .el-tabs__item {
      width: auto;
    }
    .template_upload {
      position: relative;
    }
    .template_upload .el-upload__tip {
      position: absolute;
      left: 80px;
      top: 0;
    }

    /*------*/
    .form_block {
      margin-bottom: 4px;
      overflow: hidden;
    }
    .form_block .form_group {
      padding: 4px;
      border: 1px solid #e7eef9;
      box-sizing: border-box;
      width: 95%;
      float: left;
    }
    .form_block .form_oper {
      float: left;
      width: 5%;
      height: 100%;
      position: relative;
    }
    .form_block .form_oper .btn_group {
      position: absolute;
      left: 50%;
      width: 100%;
      box-sizing: border-box;
      transform: translateX(-50%);
    }
    /*.btn_group .add, .btn_group .minus {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #000;
      margin-left: 4px;
      position: relative;
      float: left;
      cursor: pointer;
    }
    .btn_group .add>span, .btn_group .minus>span {
      position: absolute;
      background: #fff;
      top: 50%;
      left: 50%;
      border-radius: 4px;
      transform: translate(-50%, -50%);
      background: #fff;
    }
    .btn_group .add>span:first-child {
      width: 50%;
      height: 3px;
    }
    .btn_group .add>span:last-child {
      width: 3px;
      height: 50%;
    }
    .btn_group .minus>span {
      width: 50%;
      height: 3px;
    }*/
    .form_block .form_oper .btn_group button {
      height: 22px;
      padding: 4px;
      display: block;
      margin: 0 auto;
    }
    .form_block .form_oper .btn_group button:first-child {
      margin-bottom: 5px;
    }

    .dialog_third .el-dialog__body {
      height: 240px;
    }
    .dialog_org .el-dialog__body {
      height: 180px;
    }
  </style>
</head>
<body>
<div id="app" class="sc-theme is-standard" v-cloak>
  <el-tabs v-model="activeName" @tab-click="handleClick">
    <el-tab-pane label="信息披露事项管理" name="first">
      <el-form :mode="firstQuery" class="first-sc-box-content">
        <sc-form-layout>
          <sc-form-layout-row>
            <sc-form-layout-col>
              <el-button type="add" @click="firstAddEvent">新增</el-button>
              <el-button type="onAudit" @click="firstBatchAudit">批量审核</el-button>
              <el-button type="onantiAudit" @click="firstAntiAudit">反审核</el-button>
            </sc-form-layout-col>
            <sc-form-layout-col width="standard"></sc-form-layout-col>
            <sc-form-layout-col width="standard"></sc-form-layout-col>
            <sc-form-layout-col width="standard">
              <el-form-item label="关键字">
                <el-input v-model="firstQuery.search"></el-input>
              </el-form-item>
            </sc-form-layout-col>
            <sc-form-layout-col width="80px">
              <el-button type="query" @click="firstQueryEvent">查询</el-button>
            </sc-form-layout-col>
          </sc-form-layout-row>
        </sc-form-layout>
      </el-form>

      <div class="table">
        <sc-table-config :config="config" @applyconfig="applyconfig" ref="tableConfig"></sc-table-config>
        <v-table :column="firstTableColumn" @openconfigtable="openConfigTable" :data="firstTableData"
                 :config-columns="configColumns" :show-config-table="true" :height="firstTableHeight"></v-table>
        <v-pagination
          class-name="first-sc-box-content"
          :target="firstPagination"
          :current-page="firstPagination.currentPage"
          :page-size="firstPagination.pageSize"
          :page-sizes="firstPagination.pageSizes"
          :total-page="firstPagination.totalPage"
        ></v-pagination>
      </div>

      <div class="form">
        <el-dialog :title="firstFormTitle" v-model="firstFormVisible" class="sc-large" :close-on-click-modal="false" @close="firstFormCancel">
          <el-form :model="firstFormData" ref="firstForm">
            <sc-form-layout label-width="large">
              <sc-form-layout-row v-for="row in getFirstFormColumn">
                <sc-form-layout-col v-for="col in row" :colspan="col.colSpan">
                  <el-form-item :label="col.label" :rules="col.rules" :prop="col.prop">
                    <v-render :column="col" :row="firstFormData" :render="col.render"></v-render>
                  </el-form-item>
                </sc-form-layout-col>
              </sc-form-layout-row>
            </sc-form-layout>
          </el-form>
          <div slot="footer">
            <el-button type="save" @click="getVDescriptionData">变量说明</el-button>
            <el-button type="save" @click="firstFormSave">保存</el-button>
            <el-button type="cancel" @click="firstFormCancel">取消</el-button>
          </div>
        </el-dialog>
      </div>

      <!--变量说明-->
      <el-dialog title="变量说明" v-model="vDescriptionVisible" class="sc-small" :close-on-click-modal="false" @close="vDescriptionVisible = false">
        <v-table :data="vDescriptionTableData" :height="300" :column="vDescriptionColumn"></v-table>
        <div slot="footer">
          <el-button type="cancel" @click="vDescriptionVisible = false">取消</el-button>
        </div>
      </el-dialog>

      <!-- 授权 权限设置 -->
      <el-dialog title="权限设置" v-model="authorVisible" class="sc-small" :close-on-click-modal="false" @close="authorCancel">
        <sc-form-layout>
          <sc-form-layout-row>
            <sc-form-layout-col>
              <el-form-item label="选择权限人员">
                <!--<sc-select-tree :data="authorData" v-model="authority"></sc-select-tree>-->
              </el-form-item>
            </sc-form-layout-col>
          </sc-form-layout-row>
        </sc-form-layout>
        <div slot="footer">
          <el-button type="cancel" @click="authorSave">确定</el-button>
          <el-button type="cancel" @click="authorCancel">取消</el-button>
        </div>
      </el-dialog>

    </el-tab-pane>

    <el-tab-pane label="分工事项设置" name="second">
      <div class="second-sc-box-content">
        <el-form :model="secondQuery" class="border bgcolor padding ymargin ad-query sc-box-content sc-box-content-adquery">
          <sc-form-layout label-width="small">
            <sc-form-layout-row>
              <sc-form-layout-col>
                <el-button type="add" @click="secondAdd">新增</el-button>
                <el-button type="copy" @click="secondCopy">复制</el-button>
                <el-button type="export" @click="secondExport">导出</el-button>
              </sc-form-layout-col>
            </sc-form-layout-row>
            <sc-form-layout-row v-for="row in secondLayout">
              <sc-form-layout-col v-for="col in row" :align="col.align">
                <el-form-item :label="col.label">
                  <v-render :row="secondQuery" :column="col" :render="col.render"></v-render>
                </el-form-item>
              </sc-form-layout-col>
            </sc-form-layout-row>
          </sc-form-layout>
        </el-form>
      </div>

      <div class="table">
        <v-table :column="secondTableColumn" :data="secondTableData" :height="secondHeight" :selection-change="secondSelectionChange"></v-table>
      </div>

      <v-pagination
        class-name="second-sc-box-content"
        :target="secondPagination"
        :current-page="secondPagination.currentPage"
        :page-size="secondPagination.pageSize"
        :page-sizes="secondPagination.pageSizes"
        :total-page="secondPagination.totalPage"
      ></v-pagination>

      <!-- 分工设置---form  -->
      <el-dialog :title="secondFormTitle" v-model="secondFormVisible" class="sc-small" :close-on-click-modal="false" @close="secondFormCancel">
        <el-form>
          <el-form-item>
             <!--<sc-select :data="[]" :default-props="{ label: '', nodeKey: '' }"></sc-select>-->
          </el-form-item>
        </el-form>
        <!--<div class="form_block">
          <div class="form_group">
            <el-form :model="secondFormData">
              <sc-form-layout label-width="middle">
                <sc-form-layout-row v-for="row in secondFormLayout">
                  <sc-form-layout-col v-for="col in row">
                    <el-form-item :label="col.label" :rules="col.rules">
                      <v-render :row="secondFormData" :column="col" :render="col.render"></v-render>
                    </el-form-item>
                  </sc-form-layout-col>
                </sc-form-layout-row>
              </sc-form-layout>
            </el-form>
          </div>
          <div class="form_oper">
            <div class="btn_group">
              <el-button type="primary" size="small" icon="plus"></el-button>
              <el-button type="primary" size="small" icon="minus"></el-button>
             &lt;!&ndash; <div class="add">
                <span></span>
                <span></span>
              </div>
              <div class="minus">
                <span></span>
              </div>&ndash;&gt;
            </div>
          </div>
        </div>-->
        <el-form :model="secondFormData" ref="secondForm">
          <div class="form_block" v-for="form in secondFormData">
            <div class="form_group">
                <sc-form-layout label-width="middle">
                  <sc-form-layout-row v-for="row in secondFormLayout">
                    <sc-form-layout-col v-for="col in row">
                      <el-form-item :label="col.label" :rules="col.rules" :prop="col.prop">
                        <v-render :row="secondFormData" :column="col" :render="col.render"></v-render>
                      </el-form-item>
                    </sc-form-layout-col>
                  </sc-form-layout-row>
                </sc-form-layout>
            </div>
            <div class="form_oper">
              <div class="btn_group">
                <el-button type="primary" size="small" icon="plus" @click="addFormBlock(form)"></el-button>
                <el-button type="primary" size="small" icon="minus" @click="minusFormBlock(form)"></el-button>
                <!-- <div class="add">
                   <span></span>
                   <span></span>
                 </div>
                 <div class="minus">
                   <span></span>
                 </div>-->
              </div>
            </div>
          </div>
        </el-form>

        <div slot="footer">
          <el-button type="save" @click="secondFormSave">保存</el-button>
          <el-button type="cancel" @click="secondFormCancel">取消</el-button>
        </div>
      </el-dialog>

    </el-tab-pane>

    <el-tab-pane label="平台信息" name="third">
      <el-form class="third-sc-box-content">
        <sc-form-layout>
          <sc-form-layout-row>
            <sc-form-layout-col>
              <el-button type="add" @click='thirdAdd'>新增</el-button>
            </sc-form-layout-col>

            <sc-form-layout-col width="standard"></sc-form-layout-col>

            <sc-form-layout-col width="standard">
              <el-form-item label="平台名称">
                <el-input v-model="thirdQuery.name"></el-input>
              </el-form-item>
            </sc-form-layout-col>

            <sc-form-layout-col width="standard">
              <el-form-item label="所属机构">
                <el-input v-model="thirdQuery.org"></el-input>
              </el-form-item>
            </sc-form-layout-col>

            <sc-form-layout-col width="160px">
              <el-button type="query" @click="thirdQuery">查询</el-button>
              <el-button type="reset" @click="thirdReset">重置</el-button>
            </sc-form-layout-col>

          </sc-form-layout-row>
        </sc-form-layout>
      </el-form>

      <div class="table">
        <v-table :column="thirdColumn" :data="thirdTableData" :height="thirdTableHeight"></v-table>
      </div>

      <v-pagination
        class-name="third-sc-box-content"
        :target="thirdStore"
        :current-page="thirdStore.currentPage"
        :page-size="thirdStore.pageSize"
        :page-sizes="thirdStore.pageSizes"
        :total-page="thirdStore.totalPage"
      ></v-pagination>

      <el-dialog :title="thirdFormTitle" v-model="thirdFormVisible" class="sc-middle dialog_third" :close-on-click-modal="false" @close="thirdFormCancel">
        <el-form :model="thirdFormData" ref="thirdForm">
          <sc-form-layout label-width="middle">
            <sc-form-layout-row v-for="row in thirdFormLayout">
              <sc-form-layout-col v-for="col in row" :colSpan="col.colspan">
                <el-form-item :label="col.label" :prop="col.prop" :rules="col.rules">
                  <v-render :row="thirdFormData" :column="col" :render="col.render"></v-render>
                </el-form-item>
              </sc-form-layout-col>
            </sc-form-layout-row>
          </sc-form-layout>
        </el-form>

        <div slot="footer">
          <el-button type="save" @click="thirdFormSave">保存</el-button>
          <el-button type="cancel" @click="thirdFormCancel">取消</el-button>
        </div>
      </el-dialog>

    </el-tab-pane>

    <el-tab-pane label="机构信息" name="fourth">
      <el-form class="org-sc-box-content">
        <sc-form-layout>
          <sc-form-layout-row>
            <sc-form-layout-col>
              <el-button type="add" @click='orgAdd'>新增</el-button>
            </sc-form-layout-col>

            <sc-form-layout-col width="standard"></sc-form-layout-col>

            <sc-form-layout-col width="standard">
              <el-form-item label="机构名称">
                <el-input v-model="orgQuery.name"></el-input>
              </el-form-item>
            </sc-form-layout-col>

            <sc-form-layout-col width="standard">
              <el-form-item label="机构类型">
                <el-input v-model="orgQuery.org"></el-input>
              </el-form-item>
            </sc-form-layout-col>

            <sc-form-layout-col width="160px">
              <el-button type="query" @click="orgQuery">查询</el-button>
              <el-button type="reset" @click="orgReset">重置</el-button>
            </sc-form-layout-col>

          </sc-form-layout-row>
        </sc-form-layout>
      </el-form>

      <div class="table">
        <v-table :column="orgColumn" :data="orgTableData" :height="orgTableHeight"></v-table>
      </div>

      <v-pagination
        class-name="org-sc-box-content"
        :target="orgStore"
        :current-page="orgStore.currentPage"
        :page-size="orgStore.pageSize"
        :page-sizes="orgStore.pageSizes"
        :total-page="orgStore.totalPage"
      ></v-pagination>

      <el-dialog :title="orgFormTitle" v-model="orgFormVisible" class="sc-middle dialog_org" :close-on-click-modal="false" @close="orgFormCancel">
        <el-form :model="orgFormData" ref="orgForm">
          <sc-form-layout label-width="middle">
            <sc-form-layout-row v-for="row in orgFormLayout">
              <sc-form-layout-col v-for="col in row" :colSpan="col.colspan">
                <el-form-item :label="col.label" :prop="col.prop" :rules="col.rules">
                  <v-render :row="orgFormData" :column="col" :render="col.render"></v-render>
                </el-form-item>
              </sc-form-layout-col>
            </sc-form-layout-row>
          </sc-form-layout>
        </el-form>

        <div slot="footer">
          <el-button type="save" @click="orgFormSave">保存</el-button>
          <el-button type="cancel" @click="orgFormCancel">取消</el-button>
        </div>
      </el-dialog>
    </el-tab-pane>
  </el-tabs>



</div>
</body>

<script>

  new Vue({
    mixins: [publicComponents, firstMixins, secondMixins, thirdMixins, org],
    el: '#app',
    data: function () {
      return {
        activeName: 'fourth',
        actions: null,
        urls: {
          form: ''
        }
      }
    },
    created: function () {
      $('body').addClass('sc-skin1');
      this.actions = gobal.actions;
    },
    methods: {
      handleClick: function (tab, event) {
      }
    }
  })
</script>
</html>